<app-nav-bar></app-nav-bar>

<br>

<div class="d-flex justify-content-center">
  <h1 class="pill-icon"> 💊 </h1>
  <h1 class="title"> Revisa tus compras </h1>
  <h2 class="subtitle"> Agrega al carro si necesitas reponer </h2>
</div>

<div class="container-fluid pills-section">
  <p class="align-middle pills-left my-0 px-0"> Te queda </p>
</div>

<div class="container-fluid pills-subsection">
  <div class="pill-cards" *ngFor="let item of items">
    <app-pill-card></app-pill-card>
  </div>
</div>
