<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">
    <!-- menu list icon -->
    <div class="menu-style">
      <span class="material-icons md-18 md-light menu-icon-style px-0 mx-0">menu</span>
    </div>

    <!-- navbar-brand -->
    <a class="navbar-brand navbarname-style px-0 mx-0" href="#"> Mi pastillero </a>


    <!-- search icon -->
    <div class="searchbar-style">
      <form class="form-inline d-none d-sm-block">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
    <div class="search-style">
      <span class="material-icons md-18 md-light search-icon-style">Buscar</span>
    </div>

    <!-- shop cart icon -->
    <div class="cart-style">
      <span class="material-icons md-20 md-light cart-icon-style">shopping_cart</span>
    </div>
  </div>
</nav>
